<%-include("partials/header.ejs") %>

<div class="container mb-5">
  <div class="row justify-content-center p-4 pb-0 pe-lg-0 pt-lg-1 align-items-center rounded-3 border shadow-lg">
    
   
    <div class="row g-4 py-5 row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center text-center">
      
  
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
  <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383z"/>
</svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">File-Based Storage</h3>
        <p>All blogs are saved in a plain text file (database.txt), with each post separated by a delimiter. This avoids the need for a database and keeps the setup lightweight.</p>
        <a href="https://www.linkedin.com/in/mark-anthony-p-madelo-a1972a329/" class="icon-link">
          Got any questions?
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>

    
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-2-circle" viewBox="0 0 16 16">
  <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306"/>
</svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Simple Site Navigation</h3>
        <p>The website includes additional pages like About, Contact, and FAQs, making it user-friendly and more complete for casual visitors.</p>
        <a href="https://www.linkedin.com/in/mark-anthony-p-madelo-a1972a329/" class="icon-link">
          Got any questions?
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-3-circle" viewBox="0 0 16 16">
  <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318"/>
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8"/>
</svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Blog Management</h3>
        <p>Users can create, edit, and delete blog posts. Each post includes a title, author, and multi-paragraph content. Changes are reflected instantly on the homepage.</p>
        <a href="https://www.linkedin.com/in/mark-anthony-p-madelo-a1972a329/" class="icon-link">
          Got any questions?
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>

    </div>
  </div>
</div>

<%-include("partials/footer.ejs") %>
